/** @type {import('tailwindcss').Config} */
module.exports = {
  content: ["./src/**/*.{js,jsx,ts,tsx}"],
  theme: {
    extend: {
      colors: {
        white: "#fff",
        darkgray: "#a6a6a6",
        whitesmoke: { "100": "#f9f9f9", "200": "#f2f2f2" },
        darkslategray: "#263238",
        headings: "#14342b",
        color: "#626262",
        gray: { "100": "#fafafa", "200": "#797979", "300": "#242331" },
        "primary-green": "#80c904",
      },
      fontFamily: {
        poppins: "Poppins",
        inter: "Inter",
        paragraph: "Montserrat",
        nunito: "Nunito",
      },
      borderRadius: { base: "20px" },
    },
    fontSize: {
      sm: "15px",
      base: "16px",
      lg: "24px",
      xl: "25px",
      "2xl": "42px",
      "3xl": "46px",
      "4xl": "50px",
    },
  },
  corePlugins: { preflight: false },
};
