.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1440px;
  height: 543px;
}
.copyright2022,
.otherLinks {
  position: absolute;
  top: 509px;
  left: 616px;
  font-size: var(--font-size-2xs);
  line-height: 148.52%;
}
.otherLinks {
  top: 171px;
  left: 1171px;
  font-size: var(--font-size-5xl);
  font-family: var(--header);
  color: var(--color-whitesmoke-200);
}
.contactUs,
.privacyPolicy,
.reportAbuse,
.termsCondition {
  position: absolute;
  top: 247px;
  left: 1171px;
  line-height: 148.52%;
}
.contactUs,
.privacyPolicy,
.reportAbuse {
  top: 281px;
}
.contactUs,
.reportAbuse {
  top: 315px;
}
.contactUs {
  top: 349px;
}
.applicationDevelopment,
.serives {
  position: absolute;
  left: 759px;
  line-height: 148.52%;
}
.serives {
  top: 171px;
  font-size: var(--font-size-5xl);
  font-family: var(--header);
  color: var(--color-whitesmoke-200);
}
.applicationDevelopment {
  top: 247px;
}
.humanToMachineCommunication,
.machineToMachineCommunicati,
.videoAnalytics {
  position: absolute;
  top: 281px;
  left: 759px;
  line-height: 148.52%;
}
.machineToMachineCommunicati,
.videoAnalytics {
  top: 315px;
}
.videoAnalytics {
  top: 349px;
}
.div {
  position: absolute;
  top: 171px;
  left: 121px;
  width: 182px;
  height: 36.1px;
}
.groupItem {
  top: 400.49px;
  width: 178.05px;
  height: 33.26px;
}
.frameIcon,
.groupItem,
.weSpecializeIn {
  position: absolute;
  left: 134.95px;
}
.frameIcon {
  top: 164.25px;
  width: 99px;
  height: 76px;
  overflow: hidden;
}
.weSpecializeIn {
  top: 274.63px;
  font-size: var(--caption-caption-2-medium-size);
  line-height: 163%;
  font-family: var(--header);
  display: inline-block;
  width: 251.05px;
}
.rectangleParent,
.vectorIcon {
  position: relative;
  width: 1440px;
  height: 543px;
  flex-shrink: 0;
}
.vectorIcon {
  width: 13px;
  height: 17px;
}
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.vectorIcon1 {
  width: 18px;
  height: 14px;
  flex-shrink: 0;
}
.infocogaiuk,
.vectorIcon1 {
  position: relative;
}
.vectorGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.groupIcon {
  position: relative;
  width: 10.13px;
  height: 15.94px;
  flex-shrink: 0;
}
.hazelGroveStockport {
  margin: 0;
}
.groupGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vectorIcon2 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.vectorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frameParent {
  align-items: flex-start;
  gap: var(--gap-3xl);
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
  font-family: var(--font-inter);
}
.contactUsParent,
.frameParent,
.groupParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contactUsParent {
  align-items: flex-start;
  gap: var(--gap-23xl);
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke-200);
  font-family: var(--header);
}
.groupParent {
  position: absolute;
  top: 4414px;
  left: -3px;
  width: 1443px;
  height: 543px;
  align-items: center;
  font-size: var(--paragraph-size);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.locohomeChild {
  position: absolute;
  top: 2267.08px;
  left: 0;
  background-color: var(--primary-green);
  width: 1440px;
  height: 575.82px;
  opacity: 0.25;
}
.locohomeInner,
.locohomeItem {
  position: absolute;
  top: 1691.96px;
  left: 0;
  width: 1621.04px;
  height: 1252.55px;
}
.locohomeInner {
  top: 2842.9px;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 167.23px;
}
.frameChild {
  position: relative;
  width: 743.5px;
  height: 857.75px;
  flex-shrink: 0;
  opacity: 0.09;
}
.frameDiv {
  position: absolute;
  top: -727px;
  left: 874px;
  width: 1522px;
  height: 570px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 773.04px;
  height: 127.24px;
}
.futureConcept {
  position: absolute;
  top: 54.9px;
  left: 0;
  line-height: 163%;
  font-weight: 500;
}
.vectorIcon3 {
  position: absolute;
  height: 51.92%;
  width: 32.81%;
  top: 0;
  right: 33.59%;
  bottom: 48.08%;
  left: 33.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameItem,
.futureConceptParent {
  position: relative;
  width: 128px;
  height: 80.9px;
  flex-shrink: 0;
}
.frameItem {
  width: 0;
  height: 62.67px;
}
.vectorIcon4 {
  position: absolute;
  height: 52.41%;
  width: 56.53%;
  top: 0;
  right: 21.73%;
  bottom: 47.59%;
  left: 21.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bigIdeasParent {
  position: relative;
  width: 75px;
  height: 80.9px;
  flex-shrink: 0;
}
.creativeSolutions {
  position: absolute;
  top: 47.9px;
  left: 0;
  line-height: 163%;
  font-weight: 500;
}
.vectorIcon5 {
  position: absolute;
  height: 56.83%;
  width: 18.76%;
  top: 0;
  right: 40.62%;
  bottom: 43.17%;
  left: 40.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.creativeSolutionsParent {
  position: relative;
  width: 147px;
  height: 73.9px;
  flex-shrink: 0;
}
.groupContainer {
  position: absolute;
  top: 23.17px;
  left: 59.52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 76px;
}
.rectangleGroup {
  position: absolute;
  top: 853px;
  left: 333.48px;
  width: 773.04px;
  height: 127.24px;
  font-size: var(--paragraph-size);
  color: var(--headings1);
}
.getNewsAnd {
  position: absolute;
  top: 0;
  left: 30.5px;
  font-size: var(--heading-heading-3-size);
  font-weight: 600;
  text-align: left;
}
.loremIpsumIs {
  position: absolute;
  top: 59px;
  left: 49.5px;
  line-height: 172%;
  font-weight: 500;
  color: var(--color);
  display: inline-block;
  width: 402px;
  height: 60px;
}
.groupChild1,
.rectangleDiv {
  position: absolute;
  border-radius: var(--br-7xs);
}
.rectangleDiv {
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 501px;
  height: 61px;
}
.groupChild1 {
  top: 6px;
  left: 342px;
  background-color: var(--color-black);
  width: 153px;
  height: 49px;
}
.div2,
.enterYourEmail,
.subscribe {
  position: absolute;
  top: 17px;
  left: 378px;
  line-height: 139.78%;
  font-weight: 500;
}
.div2,
.enterYourEmail {
  top: 0;
  left: 0;
  line-height: 172%;
}
.enterYourEmail {
  top: 5px;
  left: 24px;
  font-size: var(--caption-caption-2-medium-size);
  font-family: var(--header);
  color: #bababa;
}
.parent {
  position: absolute;
  top: 14px;
  left: 20px;
  width: 153px;
  height: 34px;
  font-size: var(--font-size-xl);
  color: #484848;
  font-family: var(--font-poppins);
}
.rectangleContainer {
  position: absolute;
  top: 139px;
  left: 0;
  width: 501px;
  height: 61px;
  color: var(--color-white);
}
.getNewsAndUpdatesParent {
  position: relative;
  width: 501px;
  height: 200px;
  flex-shrink: 0;
}
.locohomeInner1 {
  position: absolute;
  top: 4230px;
  left: 345px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: -7px -7px 72px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  padding: 45px 125px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--paragraph-size);
  color: var(--color-black);
}
.locohomeChild1,
.locohomeChild2 {
  position: absolute;
  top: 2390.27px;
  left: 832px;
  width: 456.06px;
}
.locohomeChild1 {
  background-color: var(--color-white);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  height: 619.86px;
}
.locohomeChild2 {
  background-color: var(--primary-green);
  height: 9.41px;
}
.getInTouch,
.pleaseFillThe {
  position: absolute;
  left: 872.61px;
  line-height: 163%;
}
.getInTouch {
  top: 2429.01px;
  font-weight: 500;
  color: var(--headings1);
}
.pleaseFillThe {
  top: 2450.76px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.locohomeChild3,
.locohomeChild4 {
  border: 1px solid var(--text);
  box-sizing: border-box;
  height: 43.55px;
}
.locohomeChild3 {
  position: absolute;
  top: 2504.09px;
  left: 872.61px;
  border-radius: var(--br-7xs);
  width: 373.63px;
  opacity: 0.24;
}
.locohomeChild4 {
  top: 2562.23px;
}
.locohomeChild4,
.locohomeChild5,
.locohomeChild6,
.locohomeChild7,
.rectangleIcon {
  position: absolute;
  left: 872.61px;
  border-radius: var(--br-7xs);
  width: 373.63px;
  opacity: 0.24;
}
.locohomeChild5 {
  top: 2794.8px;
  border: 1px solid var(--text);
  box-sizing: border-box;
  height: 106.19px;
}
.locohomeChild6,
.locohomeChild7,
.rectangleIcon {
  top: 2620.37px;
  height: 43.55px;
}
.locohomeChild6,
.locohomeChild7 {
  top: 2678.51px;
  border: 1px solid var(--text);
  box-sizing: border-box;
}
.locohomeChild7 {
  top: 2736.66px;
  left: 871.57px;
}
.name {
  position: absolute;
  top: 2513.36px;
  line-height: 163%;
  color: var(--text);
  width: 46.75px;
}
.company,
.email,
.name {
  left: 891.27px;
  display: inline-block;
  height: 25.01px;
}
.email {
  position: absolute;
  top: 2571.5px;
  line-height: 163%;
  color: var(--text);
  width: 43.49px;
}
.company {
  top: 2629.64px;
  width: 73.93px;
}
.addCommentOptional,
.chooseServices,
.company,
.companySize {
  position: absolute;
  line-height: 163%;
  color: var(--text);
}
.companySize {
  top: 2687.78px;
  left: 891.27px;
}
.addCommentOptional,
.chooseServices {
  left: 890.41px;
}
.chooseServices {
  top: 2745.93px;
  display: inline-block;
  width: 133.74px;
  height: 25.01px;
}
.addCommentOptional {
  top: 2805.29px;
}
.locohomeChild8,
.locohomeChild9,
.polygonIcon {
  position: absolute;
  top: 2755.36px;
  left: 1219.32px;
  width: 10.34px;
  height: 6.56px;
}
.locohomeChild8,
.locohomeChild9 {
  top: 2697.22px;
}
.locohomeChild9 {
  top: 2923.22px;
  left: 871.57px;
  border-radius: var(--br-7xs);
  background-color: var(--primary-green);
  width: 374.67px;
  height: 52.81px;
}
.submit {
  position: absolute;
  top: 2935.13px;
  left: 1024.9px;
  font-size: var(--font-size-lg);
  line-height: 163%;
  font-weight: 500;
  color: var(--color-white);
}
.lineDiv {
  top: 2404.98px;
  left: 119px;
  border-top: 2px solid var(--primary-green);
  box-sizing: border-box;
  width: 74px;
  height: 2px;
}
.download,
.lineDiv,
.m {
  position: absolute;
}
.m {
  top: calc(50% - 49.43px);
  left: 25.89%;
  font-weight: 600;
}
.download {
  top: calc(50% + 20.43px);
  left: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-600);
  text-align: left;
}
.lineIcon,
.mParent {
  position: relative;
  width: 197px;
  height: 98.87px;
  flex-shrink: 0;
}
.lineIcon {
  width: 3px;
  height: 102.69px;
}
.m1 {
  position: absolute;
  top: calc(50% - 49.74px);
  left: 37.9%;
  font-weight: 600;
}
.transaction {
  position: absolute;
  top: calc(50% + 20.74px);
  left: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-600);
  text-align: left;
}
.mGroup {
  position: relative;
  width: 186px;
  height: 99.48px;
  flex-shrink: 0;
}
.m2,
.rattings {
  position: absolute;
}
.m2 {
  top: calc(50% - 41.31px);
  left: 11.92%;
  font-weight: 600;
}
.rattings {
  top: calc(50% + 41.31px);
  left: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-600);
}
.mContainer {
  position: relative;
  width: 193px;
  height: 82.62px;
  flex-shrink: 0;
}
.groupParent1 {
  position: absolute;
  top: 1537.39px;
  left: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 128px;
  text-align: center;
  font-size: var(--font-size-27xl);
}
.weAreLeading {
  position: absolute;
  top: 1846.24px;
  left: 823.5px;
  font-size: var(--paragraph-size);
  font-weight: 600;
  color: var(--color-white);
}
.whyChooseUs {
  position: absolute;
  top: 1798.24px;
  left: 911.5px;
  font-size: var(--font-size-13xl);
}
.locohomeChild10 {
  position: absolute;
  top: 1817.24px;
  left: 821.5px;
  border-top: 2px solid var(--primary-green);
  box-sizing: border-box;
  width: 74px;
  height: 2px;
}
.span {
  letter-spacing: -0.13em;
}
.professionalTeam {
  position: relative;
  line-height: 163%;
  font-weight: 600;
}
.span1 {
  letter-spacing: -0.12em;
}
.dedicatedItSolution {
  color: var(--color-white);
}
.professionalTeamParent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.groupDiv,
.weSpecializeIn1 {
  position: absolute;
  left: 823.5px;
}
.groupDiv {
  top: 1971.56px;
  width: 331px;
  height: 134px;
  font-size: var(--font-size-lg);
}
.weSpecializeIn1 {
  top: 1900.9px;
  font-size: var(--paragraph-size);
  line-height: 163%;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 449.34px;
}
.b1356c1751Icon {
  position: absolute;
  top: 1691.96px;
  left: 0;
  width: 753.1px;
  height: 575.12px;
  object-fit: cover;
}
.feelingCurious,
.getInTouch1 {
  position: absolute;
  line-height: 163%;
}
.feelingCurious {
  top: 2384.98px;
  left: 208px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.getInTouch1 {
  top: 2434.97px;
  left: 120px;
  font-size: var(--font-size-27xl);
  display: inline-block;
  color: var(--headings1);
  width: 644.09px;
}
.unsplashxjxwbfso2f0,
.unsplashxjxwbfso2f01 {
  position: absolute;
  top: 2539.02px;
  left: 120px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--primary-green);
  box-sizing: border-box;
  width: 179.57px;
  height: 165.76px;
}
.unsplashxjxwbfso2f01 {
  top: 2538.36px;
  left: 310.57px;
}
.locohomeChild11 {
  top: 2572.21px;
  left: 188.51px;
}
.biclockHistory,
.biclockHistoryWrapper,
.locohomeChild11 {
  position: absolute;
  width: 42.55px;
  height: 43.21px;
}
.biclockHistory {
  top: 0;
  left: 0;
  overflow: hidden;
}
.biclockHistoryWrapper {
  top: 2571.6px;
  left: 379.08px;
}
.p {
  margin: 0;
  font-weight: 500;
}
.available,
.quickResponse {
  position: absolute;
  top: 2627.46px;
  left: 166.79px;
  font-size: var(--font-size-lg);
  line-height: 163%;
  color: var(--headings1);
  text-align: center;
}
.quickResponse {
  top: 2626.85px;
  left: 354.36px;
}
.mdiemailQuickOutlineIcon {
  position: absolute;
  top: 2569px;
  left: 357px;
  width: 65px;
  height: 56px;
  overflow: hidden;
}
.latestNewsAbout {
  position: absolute;
  top: 73.76px;
  left: 90px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--text);
}
.news {
  position: absolute;
  top: 25.76px;
  left: 178px;
  font-size: var(--font-size-13xl);
  font-family: var(--header);
  color: var(--primary-green);
}
.frameChild2 {
  position: absolute;
  top: 44.26px;
  left: 88px;
  border-top: 2px solid var(--primary-green);
  box-sizing: border-box;
  width: 74px;
  height: 2px;
}
.alphaCapTreasury {
  position: absolute;
  top: 129px;
  left: 90px;
  border-radius: var(--br-lg);
  width: 618px;
  height: 391px;
  object-fit: cover;
}
.howTechnologyTrends {
  align-self: stretch;
  position: relative;
  line-height: 44px;
}
.new {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.newWrapper {
  border-radius: var(--br-9xs);
  background-color: rgba(255, 255, 255, 0.07);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
  align-items: center;
  justify-content: center;
}
.howTechnologyTrendsAreChanParent,
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label {
  align-self: stretch;
  padding: 0 430px 0 0;
  justify-content: center;
  font-size: var(--caption-caption-2-medium-size);
  color: var(--font-color-light-subtitle);
  font-family: var(--caption-caption-2-medium);
}
.howTechnologyTrendsAreChanParent {
  position: absolute;
  top: 349px;
  left: 120px;
  width: 544px;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  font-size: var(--heading-heading-3-size);
  color: var(--color-white);
  font-family: var(--heading-heading-3);
}
.thumbnailIcon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-lg) var(--br-lg) 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 195px;
  flex-shrink: 0;
  object-fit: cover;
}
.cryptoBasicWrapper,
.label1 {
  display: flex;
  justify-content: center;
}
.cryptoBasicWrapper {
  border-radius: var(--br-9xs);
  background-color: var(--color-darkgray-400);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
  align-items: center;
}
.label1 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-141xl) 0 0;
  align-items: flex-start;
}
.whatIsCryptocurrency {
  flex: 1;
  position: relative;
  line-height: 163%;
  font-weight: 600;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--paragraph-size);
  color: var(--color-gray-500);
  font-family: var(--header);
}
.cryptocurrenciesAreBasically {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.subtitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--caption-caption-2-medium-size);
}
.content {
  align-self: stretch;
  gap: var(--gap-smi);
}
.articleItem,
.content,
.titleContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.titleContent {
  align-self: stretch;
  padding: var(--padding-xl);
}
.articleItem {
  position: absolute;
  top: 128px;
  left: 733px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 298px;
  height: 419px;
  padding: 0 0 var(--padding-base);
}
.maskGroupIcon {
  position: absolute;
  top: 129px;
  left: 734px;
  width: 296px;
  height: 196px;
  object-fit: cover;
}
.articleItem1 {
  position: absolute;
  top: 128px;
  left: 1055px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 298px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.maskGroupIcon1 {
  position: absolute;
  top: 129px;
  left: 1056px;
  width: 296px;
  height: 196px;
  object-fit: cover;
}
.cryptoBasicFrame {
  border-radius: var(--br-9xs);
  background-color: rgba(166, 166, 166, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
  align-items: center;
  justify-content: center;
}
.articleItem2 {
  position: absolute;
  top: 562px;
  left: 89px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 298px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.maskGroupIcon2 {
  position: absolute;
  top: 563px;
  left: 90px;
  width: 296px;
  height: 196px;
  object-fit: cover;
}
.articleItem3 {
  position: absolute;
  top: 562px;
  left: 1055px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 298px;
  height: 397px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.maskGroupIcon3 {
  position: absolute;
  top: 563px;
  left: 1056px;
  width: 296px;
  height: 196px;
  object-fit: cover;
}
.articleItem4 {
  position: absolute;
  top: 562px;
  left: 733px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 298px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.maskGroupIcon4 {
  position: absolute;
  top: 562px;
  left: 734px;
  width: 296px;
  height: 199px;
  object-fit: cover;
}
.articleItem5 {
  position: absolute;
  top: 562px;
  left: 411px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 298px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.maskGroupIcon5 {
  position: absolute;
  top: 562px;
  left: 412px;
  width: 296px;
  height: 196px;
  object-fit: cover;
}
.latestNewsAboutTechnologyParent {
  position: absolute;
  top: 3045px;
  left: 0;
  width: 1440px;
  height: 1014px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--font-color-light-subtitle);
  font-family: var(--caption-caption-2-medium);
}
.frameChild3,
.locohomeChild12,
.locohomeInner2 {
  position: absolute;
  top: 706px;
  left: 827px;
  width: 464px;
  height: 617px;
  overflow: hidden;
}
.locohomeChild12,
.locohomeInner2 {
  top: 1684px;
  left: 0;
  width: 1440px;
  height: 1338px;
}
.locohomeChild12 {
  top: 1497px;
  height: 190px;
}
.servicesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild4 {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-mintcream);
  width: 349px;
  height: 349px;
}
.frameChild5 {
  position: absolute;
  top: 26.28px;
  left: 2px;
  border-top: 2px solid var(--primary-green);
  box-sizing: border-box;
  width: 74px;
  height: 2px;
}
.appDevelopment,
.applicationDevelopmentIs {
  position: absolute;
  top: 143.28px;
  left: 17px;
}
.applicationDevelopmentIs {
  top: 217.28px;
  font-size: var(--paragraph-size);
  line-height: 163%;
  font-weight: 500;
  color: var(--text);
  display: inline-block;
  width: 299.59px;
}
.frameChild6 {
  position: relative;
  width: 30.5px;
  height: 42px;
  flex-shrink: 0;
}
.groupWrapper {
  position: absolute;
  top: 53px;
  left: 39px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrowBackIcon {
  position: absolute;
  top: 314px;
  left: 305px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangleParent1 {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 351px;
  height: 349px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-3xl);
  color: var(--headings1);
}
.frameGroup {
  position: absolute;
  top: 23px;
  left: 116px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.services {
  position: absolute;
  top: 1003px;
  left: 0;
  border-radius: var(--br-18xl);
  width: 1440px;
  height: 475px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.frameChild7 {
  width: 161px;
}
.rectangleParent2 {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 351px;
  height: 349px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameContainer,
.frameParent1,
.frameParent2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.frameContainer {
  top: 23px;
  left: 116px;
  font-size: var(--font-size-3xl);
  color: var(--headings1);
}
.frameParent1,
.frameParent2 {
  top: 16px;
  left: 972px;
}
.frameParent2 {
  top: 30px;
  left: 544px;
}
.frameChild17 {
  width: 782px;
  height: 134px;
  flex-shrink: 0;
  overflow: hidden;
}
.locohomeInner3 {
  position: absolute;
  top: 831px;
  left: 0;
  width: 1440px;
  height: 172px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 329px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cogai {
  color: var(--primary-green);
}
.welcomeToCogaiContainer,
.whereWeSpecializeContainer {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 690.5px;
  height: 108.56px;
  flex-shrink: 0;
}
.whereWeSpecializeContainer {
  font-size: var(--paragraph-size);
  line-height: 163%;
  font-weight: 500;
  color: var(--text);
  width: 610.5px;
  height: 58.69px;
}
.groupChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--headings1);
  width: 215px;
  height: 63px;
}
.exploreNow {
  position: absolute;
  top: 17px;
  left: 49.5px;
  line-height: 163%;
  font-weight: 500;
}
.rectangleParent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 215px;
  height: 63px;
}
.groupWrapper4 {
  position: relative;
  width: 215px;
  height: 63px;
  flex-shrink: 0;
}
.groupWrapper3,
.welcomeToCogaiParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupWrapper3 {
  width: 215px;
  height: 63px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.welcomeToCogaiParent {
  width: 626px;
  height: 461px;
  gap: 24px;
}
.groupChild3 {
  position: absolute;
  top: 0;
  left: 169.21px;
  width: 430.84px;
  height: 471.52px;
  object-fit: cover;
}
.groupChild4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0 0 22px rgba(38, 50, 56, 0.35);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 270.25px;
  height: 62.45px;
}
.appDevelopment4 {
  position: absolute;
  top: 2.62px;
  left: 47.05px;
  font-weight: 500;
  display: inline-block;
  width: 151.48px;
  height: 24.9px;
}
.webDesignSvgrepoCom1Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.2px;
  height: 33.2px;
  overflow: hidden;
}
.appDevelopmentParent {
  position: absolute;
  top: 14.62px;
  left: 35.86px;
  width: 198.53px;
  height: 33.2px;
}
.rectangleParent6 {
  position: absolute;
  top: 359.77px;
  left: 0;
  width: 270.25px;
  height: 62.45px;
}
.groupParent2 {
  position: relative;
  width: 600.05px;
  height: 471.52px;
  flex-shrink: 0;
}
.groupWrapper5 {
  align-self: stretch;
  width: 626px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -54px;
  font-size: var(--paragraph-size);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
.frameParent3,
.locohomeChild13 {
  position: absolute;
  left: 0;
  width: 1440px;
  overflow: hidden;
}
.frameParent3 {
  top: 141px;
  height: 690px;
  display: flex;
  flex-direction: row;
  padding: 61px 121px 60px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--header-size);
  color: var(--headings1);
}
.locohomeChild13 {
  top: 4063px;
  height: 150px;
}
.cogaiLogotrans11Icon {
  position: relative;
  width: 92.55px;
  height: 70.63px;
  flex-shrink: 0;
  object-fit: cover;
}
.home {
  color: var(--headings1);
}
.about,
.home {
  position: relative;
  font-weight: 500;
}
.navlinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-36xl);
}
.getAQuote {
  position: relative;
  line-height: 163%;
  font-weight: 500;
}
.getquote {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--headings1);
  display: flex;
  flex-direction: row;
  padding: 13px 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-family: var(--header);
}
.hamburgerbtnChild {
  position: relative;
  background-color: var(--color-yellowgreen-200);
  width: 68px;
  height: 12px;
  flex-shrink: 0;
}
.hamburgerbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.cogaiLogotrans11Parent,
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.links {
  width: 737px;
  flex-shrink: 0;
  gap: var(--gap-36xl);
}
.cogaiLogotrans11Parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 141px;
  overflow: hidden;
  padding: var(--padding-16xl) 112px;
  box-sizing: border-box;
  gap: 150px;
  font-size: var(--paragraph-size);
  color: var(--color);
  font-family: var(--font-poppins);
}
.locohome {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 4974px;
  overflow: hidden;
  text-align: left;
  font-size: var(--caption-caption-2-medium-size);
  color: var(--primary-green);
  font-family: var(--header);
}
@media screen and (max-width: 960px) {
  .navlinks {
    display: none;
  }
  .hamburgerbtn {
    display: flex;
  }
  .cogaiLogotrans11Parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
