
.contact-us {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.line {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.title {
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-2xl);
}
.there-are-many {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.content {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.cogai-logotrans-1-1-icon {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.home {
position: relative;
font-weight: 500;
color: var(--headings);
}
.about {
position: relative;
font-weight: 500;
}
.home-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-child {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.get-a-quote {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.rectangle-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.background {
position: absolute;
top: 0px;
left: 0px;
background-color: var(--primary-green);
width: 1440px;
height: 424.64px;
opacity: 0.85;
}
.background,
.image {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.content1,
.title1 {
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-2xl);
}
.content1 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.cogai-logotrans-1-1-icon1 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.loco-home-parent {
position: absolute;
top: 49.75px;
left: 369.5px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-4xl);
color: var(--color);
font-family: var(--font-poppins);
}
.group-item {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.locofy-get-a {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.rectangle-group {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.banner,
.banner2 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.banner2 {
  left: 0;
  background-image: url(/public/banner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.banner {
position: absolute;
top: 0px;
left: 0.5px;
width: 1440px;
height: 424.64px;
color: var(--color-white);
}
.mt-modeltheme-portfolio-16-1-icon {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-inner {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.copyright-2022 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.other-links,
.terms-condition {
  position: absolute;
  left: 1171px;
  line-height: 148.52%;
}
.other-links {
position: absolute;
top: 80.25px;
left: 1171px;
font-size: var(--font-size-3xl);
line-height: 148.52%;
font-family: var(--paragraph);
color: var(--color-whitesmoke);
}
.terms-condition {
position: absolute;
top: 156.25px;
left: 1171px;
line-height: 148.52%;
}
.privacy-policy {
position: absolute;
top: 190.25px;
left: 1171px;
line-height: 148.52%;
}
.report-abuse {
position: absolute;
top: 224.25px;
left: 1171px;
line-height: 148.52%;
}
.contact-us1 {
position: absolute;
top: 258.25px;
left: 1171px;
line-height: 148.52%;
}
.serives {
position: absolute;
top: 80.25px;
left: 1171px;
font-size: var(--font-size-3xl);
line-height: 148.52%;
font-family: var(--paragraph);
color: var(--color-whitesmoke);
}
.application-development2 {
position: absolute;
top: 156.25px;
left: 759px;
line-height: 148.52%;
}
.human-to-machine-communication {
position: absolute;
top: 190.25px;
left: 759px;
line-height: 148.52%;
}
.machine-to-machine-communicati {
position: absolute;
top: 224.25px;
left: 759px;
line-height: 148.52%;
}
.video-analytics {
position: absolute;
top: 258.25px;
left: 759px;
line-height: 148.52%;
}
.div {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-icon {
position: absolute;
top: 309.73px;
left: 134.95px;
width: 178.05px;
height: 33.26px;
}
.frame-icon,
.group-icon,
.we-specialize-in {
  position: absolute;
  left: 134.95px;
}
.frame-icon {
position: absolute;
top: 73.5px;
left: 134.95px;
width: 99px;
height: 76px;
overflow: hidden;
}
.we-specialize-in {
position: absolute;
top: 183.87px;
left: 134.95px;
font-size: var(--font-size-xs);
line-height: 163%;
font-family: var(--paragraph);
display: inline-block;
width: 251.05px;
}
.rectangle-container {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.vector-icon {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.vector-parent {
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
gap: var(--gap-sm);
}
.vector-icon1 {
position: relative;
width: 18px;
height: 14px;
flex-shrink: 0;
}
.infocogaiuk {
position: relative;
}
.vector-group {
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
gap: var(--gap-sm);
}
.group-icon1 {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.hazel-grove-stockport {
margin-block-start: 0;
margin-block-end: 0px;
}
.england-sk7-5er {
margin: 0;
}
.group-group {
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
gap: var(--gap-sm);
}
.vector-icon2 {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.contact-us-parent,
.frame-parent,
.vector-container {
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
gap: var(--gap-sm);
}
.contact-us-parent,
.frame-parent {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-lg);
font-size: var(--font-size-sm);
color: var(--color-darkgray-100);
font-family: var(--font-inter);
}
.contact-us-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.case-studies {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.line-div {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.mt-modeltheme-portfolio-09-icon {
position: absolute;
top: 132.26px;
left: 110.71px;
border-radius: var(--br-lg);
width: 390.96px;
height: 293.95px;
object-fit: cover;
}
.mt-modeltheme-portfolio-09-icon1 {
position: absolute;
top: 132.26px;
left: 942.6px;
border-radius: var(--br-lg);
width: 391.69px;
height: 293.95px;
object-fit: cover;
}
.mt-modeltheme-portfolio-11-1-icon {
position: absolute;
top: 132.26px;
left: 526.66px;
border-radius: var(--br-lg);
width: 391.69px;
height: 293.95px;
object-fit: cover;
}
.mt-modeltheme-portfolio-11-1-icon1,
.mt-modeltheme-portfolio-12-icon {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.mt-modeltheme-portfolio-11-1-icon1 {
position: absolute;
top: 448.26px;
left: 746.38px;
border-radius: var(--br-lg);
width: 587.9px;
height: 654.78px;
object-fit: cover;
}
.rectangle-div {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.management-software {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.mt-modeltheme-portfolio-16-1-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.application-development-child {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.application-development-item {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.get-a-quote1 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.application-development-child1,
.application-development-inner {
position: absolute;
top: 602.57px;
left: 1002.26px;
border-radius: var(--br-md);
border: 1px solid var(--text);
box-sizing: border-box;
width: 323.15px;
height: 43.55px;
opacity: 0.24;
}
.application-development-inner {
  position: absolute;
  top: 602.57px;
  left: 1002.26px;
  border-radius: var(--br-md);
  width: 323.15px;
  opacity: 0.24;
}
.application-development-child1 {
position: absolute;
top: 660.71px;
left: 1002.26px;
border-radius: var(--br-md);
border: 1px solid var(--text);
box-sizing: border-box;
width: 323.15px;
height: 43.55px;
opacity: 0.24;
}
.application-development-child1,
.application-development-child2,
.application-development-child3,
.rectangle-icon {
  position: absolute;
  left: 1002.26px;
  border-radius: var(--br-md);
  width: 323.15px;
  opacity: 0.24;
}
.application-development-child2 {
position: absolute;
top: 835.28px;
left: 1002.26px;
border-radius: var(--br-md);
border: 1px solid var(--text);
box-sizing: border-box;
width: 323.15px;
height: 106.19px;
opacity: 0.24;
}
.application-development-child3,
.rectangle-icon {
position: absolute;
top: 718.85px;
left: 1002.26px;
border-radius: var(--br-md);
width: 323.15px;
height: 43.55px;
opacity: 0.24;
}
.application-development-child3 {
position: absolute;
top: 776.99px;
left: 1002.26px;
border-radius: var(--br-md);
border: 1px solid var(--text);
box-sizing: border-box;
width: 323.15px;
height: 43.55px;
opacity: 0.24;
}
.email,
.name {
position: absolute;
top: 611.84px;
left: 1026.41px;
font-size: var(--font-size-xs);
line-height: 163%;
display: inline-block;
width: 46.75px;
height: 25.01px;
}
.name {
  position: absolute;
  top: 611.84px;
  left: 1026.41px;
  font-size: var(--font-size-xs);
  line-height: 163%;
  width: 46.75px;
}
.email {
position: absolute;
top: 669.98px;
left: 1026.41px;
font-size: var(--font-size-xs);
line-height: 163%;
display: inline-block;
width: 43.49px;
height: 25.01px;
}
.add-comment-optional,
.company,
.company-size,
.email {
  position: absolute;
  left: 1026.41px;
  font-size: var(--font-size-xs);
  line-height: 163%;
}
.company {
position: absolute;
top: 728.12px;
left: 1026.41px;
font-size: var(--font-size-xs);
line-height: 163%;
display: inline-block;
width: 73.93px;
height: 25.01px;
}
.add-comment-optional,
.company-size {
position: absolute;
top: 786.26px;
left: 1026.41px;
font-size: var(--font-size-xs);
line-height: 163%;
}
.add-comment-optional {
position: absolute;
top: 845.77px;
left: 1025.55px;
font-size: var(--font-size-xs);
line-height: 163%;
}
.polygon-icon {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.application-development-child4 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.locofy-submit {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.our-digitalization-service-container {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.application-development-child5 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.the-stages-and {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.application-development-proces {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-child1 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-child2 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.stage-2 {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.frame-child {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.stage-2-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-div {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.innovation-and-development {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.dui-massa-sapien {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.innovation-and-development-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-5451233-icon {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.frame-group {
position: absolute;
top: 0px;
left: 175.66px;
width: 528.26px;
height: 140.85px;
font-size: var(--font-size-3xl);
color: var(--color-black);
}
.group-container {
position: absolute;
top: 193.25px;
left: 466.84px;
width: 703.92px;
height: 140.85px;
font-size: var(--font-size-lg);
color: var(--color-white);
}
.group-56706-icon {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.idea-validation-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.ellipse-icon {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.stage-1 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.rectangle-parent1 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-56706-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-icon2 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-child5 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.rectangle-parent2 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.group-parent1 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.deployment-parent {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.rectangle-parent3 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.frame-container {
position: absolute;
top: 582.5px;
left: 464.67px;
width: 706.09px;
height: 128.1px;
}
.line-parent {
position: absolute;
top: 1360.14px;
left: 140.5px;
width: 1170.76px;
height: 710.6px;
font-size: var(--font-size-3xl);
color: var(--color-black);
}
.group-56707-icon {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.custom-application-development {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.home-services {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.application-development {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
