

.contact-us {
position: relative;
letter-spacing: -0.02em;
line-height: 110%;
}
.line {
position: relative;
border-top: 3px solid var(--color-white);
box-sizing: border-box;
width: 58px;
height: 3px;
flex-shrink: 0;
}
.title {
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-2xl);
}
.there-are-many {
position: relative;
font-size: var(--font-size-xl);
letter-spacing: -0.01em;
line-height: 180%;
font-family: var(--font-inter);
display: inline-block;
width: 633px;
}
.content {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xl);
text-align: center;
font-size: var(--font-size-6xl);
}
.cogai-logotrans-1-1-icon {
position: absolute;
top: 38px;
left: 173px;
width: 92.55px;
height: 70.63px;
object-fit: cover;
}
.home {
position: relative;
font-weight: 500;
color: var(--headings);
}
.about {
position: relative;
font-weight: 500;
}
.home-parent {
position: absolute;
top: 61.32px;
left: 521.5px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-4xl);
color: var(--color);
font-family: var(--font-poppins);
}
.group-child {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.get-a-quote {
position: absolute;
top: 18.5px;
left: 34.33px;
line-height: 163%;
font-weight: 500;
}
.rectangle-parent {
position: absolute;
top: 41.82px;
left: 1198.33px;
width: 181.66px;
height: 63px;
}
.background {
position: absolute;
top: 0px;
left: 0px;
background-color: var(--primary-green);
width: 1440px;
height: 424.64px;
opacity: 0.85;
}
.background,
.image {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.content1,
.title1 {
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: var(--gap-2xl);
}
.content1 {
position: absolute;
top: 223px;
left: 403.5px;
width: 633px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}
.loco-application-development {
position: absolute;
top: 222.75px;
left: 315.5px;
font-size: var(--font-size-6xl);
letter-spacing: -0.02em;
line-height: 110%;
font-size: var(--font-size-6xl);
letter-spacing: -0.02em;
line-height: 110%;
text-align: center;
}
.cogai-logotrans-1-1-icon1 {
position: absolute;
top: 38px;
left: 173px;
width: 92.55px;
height: 70.63px;
object-fit: cover;
}
.loco-home-parent {
position: absolute;
top: 49.75px;
left: 369.5px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-4xl);
color: var(--color);
font-family: var(--font-poppins);
}
.group-item {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.locofy-get-a {
position: absolute;
top: 18.57px;
left: 34.16px;
line-height: 163%;
font-weight: 500;
}
.rectangle-group {
position: absolute;
top: 41.75px;
left: 1148.5px;
width: 251px;
height: 63px;
}
.banner,
.banner2 {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.banner2 {
  left: 0;
  background-image: url(/public/banner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.banner {
position: absolute;
top: 0px;
left: 0.5px;
width: 1440px;
height: 424.64px;
color: var(--color-white);
}
.mt-modeltheme-portfolio-16-1-icon {
position: absolute;
top: 808.35px;
left: 110.71px;
border-radius: var(--br-lg);
width: 604.8px;
height: 302.03px;
object-fit: cover;
}
.group-inner {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.copyright-2022 {
position: absolute;
top: 418.25px;
left: 616px;
font-size: var(--font-size-3xs);
line-height: 148.52%;
}
.other-links,
.terms-condition {
  position: absolute;
  left: 1171px;
  line-height: 148.52%;
}
.other-links {
position: absolute;
top: 80.25px;
left: 1171px;
font-size: var(--font-size-3xl);
line-height: 148.52%;
font-family: var(--paragraph);
color: var(--color-whitesmoke);
}
.terms-condition {
position: absolute;
top: 156.25px;
left: 1171px;
line-height: 148.52%;
}
.privacy-policy {
position: absolute;
top: 190.25px;
left: 1171px;
line-height: 148.52%;
}
.report-abuse {
position: absolute;
top: 224.25px;
left: 1171px;
line-height: 148.52%;
}
.contact-us1 {
position: absolute;
top: 258.25px;
left: 1171px;
line-height: 148.52%;
}
.serives {
position: absolute;
top: 80.25px;
left: 759px;
font-size: var(--font-size-3xl);
line-height: 148.52%;
font-family: var(--paragraph);
color: var(--color-whitesmoke);
}
.application-development1 {
position: absolute;
top: 156.25px;
left: 759px;
line-height: 148.52%;
}
.human-to-machine-communication {
position: absolute;
top: 190.25px;
left: 759px;
line-height: 148.52%;
}
.machine-to-machine-communicati {
position: absolute;
top: 224.25px;
left: 759px;
line-height: 148.52%;
}
.video-analytics {
position: absolute;
top: 258.25px;
left: 759px;
line-height: 148.52%;
}
.div {
position: absolute;
top: 80.25px;
left: 121px;
width: 182px;
height: 36.1px;
}
.group-icon {
position: absolute;
top: 309.73px;
left: 134.95px;
width: 178.05px;
height: 33.26px;
}
.frame-icon,
.group-icon,
.we-specialize-in {
  position: absolute;
  left: 134.95px;
}
.frame-icon {
position: absolute;
top: 73.5px;
left: 134.95px;
width: 99px;
height: 76px;
overflow: hidden;
}
.we-specialize-in {
position: absolute;
top: 183.87px;
left: 134.95px;
font-size: var(--font-size-xs);
line-height: 163%;
font-family: var(--paragraph);
display: inline-block;
width: 251.05px;
}
.rectangle-container {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.vector-icon {
position: relative;
width: 15px;
height: 19px;
flex-shrink: 0;
}
.vector-parent {
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
gap: var(--gap-sm);
}
.vector-icon1 {
position: relative;
width: 18px;
height: 14px;
flex-shrink: 0;
}
.infocogaiuk {
position: relative;
}
.vector-group {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: var(--gap-3xs);
}
.group-icon1 {
position: relative;
width: 11.63px;
height: 17.44px;
flex-shrink: 0;
}
.hazel-grove-stockport {
margin-block-start: 0;
margin-block-end: 0px;
}
.england-sk7-5er {
margin: 0;
}
.group-group {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-md);
}
.vector-icon2 {
position: relative;
width: 16px;
height: 16px;
flex-shrink: 0;
}
.contact-us-parent,
.frame-parent,
.vector-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: var(--gap-2xs);
}
.contact-us-parent,
.frame-parent {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-lg);
font-size: var(--font-size-sm);
color: var(--color-darkgray-100);
font-family: var(--font-inter);
}
.contact-us-parent {
position: absolute;
top: 90.25px;
left: 454px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-3xl);
font-size: var(--font-size-2xl);
color: var(--color-whitesmoke);
font-family: var(--paragraph);
}
.group-parent {
position: absolute;
top: 1216.1px;
left: 0px;
width: 1440px;
height: 452.25px;
font-family: var(--font-poppins);
}
.case-studies {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.line-div {
position: absolute;
top: 25.55px;
left: 108.71px;
border-top: 2px solid var(--primary-green);
box-sizing: border-box;
width: 74px;
height: 2px;
}
.mt-modeltheme-portfolio-09-icon {
position: absolute;
top: 132.26px;
left: 110.71px;
border-radius: var(--br-lg);
width: 390.96px;
height: 293.95px;
object-fit: cover;
}
.mt-modeltheme-portfolio-09-icon1 {
position: absolute;
top: 132.26px;
left: 942.6px;
border-radius: var(--br-lg);
width: 391.69px;
height: 293.95px;
object-fit: cover;
}
.mt-modeltheme-portfolio-11-1-icon {
position: absolute;
top: 132.26px;
left: 526.66px;
border-radius: var(--br-lg);
width: 391.69px;
height: 293.95px;
object-fit: cover;
}
.mt-modeltheme-portfolio-11-1-icon1,
.mt-modeltheme-portfolio-12-icon {
position: absolute;
top: 448.26px;
left: 110.71px;
border-radius: var(--br-lg);
width: 604.8px;
height: 323.35px;
object-fit: cover;
}
.mt-modeltheme-portfolio-11-1-icon1 {
position: absolute;
top: 448.26px;
left: 746.38px;
border-radius: var(--br-lg);
width: 587.9px;
height: 654.78px;
object-fit: cover;
}
.rectangle-div {
position: absolute;
top: 339.5px;
left: 136.81px;
border-radius: 5px;
background-color: var(--primary-green);
width: 339.51px;
height: 71.28px;
}
.management-software {
position: absolute;
top: 363.14px;
left: 176.06px;
font-size: 22px;
line-height: 24px;
font-weight: 600;
color: var(--color-white);
}
.mt-modeltheme-portfolio-16-1-parent {
position: absolute;
top: 2218.72px;
left: 0px;
width: 1440px;
height: 1668.34px;
color: var(--color-darkgray-100);
}
.application-development-child {
position: absolute;
top: 508.75px;
left: 967.14px;
background-color: var(--color-white);
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.12);
width: 394.44px;
height: 530.51px;
}
.application-development-item {
position: absolute;
top: 508.75px;
left: 967.14px;
background-color: var(--color-white);
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.12);
width: 394.44px;
height: 530.51px;
}
.get-a-quote1 {
position: absolute;
top: 545.98px;
left: 1006.7px;
font-size: var(--font-size-3xl);
line-height: 163%;
color: var(--primary-green);
}
.application-development-child1,
.application-development-inner {
position: absolute;
top: 602.57px;
left: 1002.26px;
border-radius: var(--br-md);
border: 1px solid var(--text);
box-sizing: border-box;
width: 323.15px;
height: 43.55px;
opacity: 0.24;
}
.application-development-inner {
  position: absolute;
  top: 602.57px;
  left: 1002.26px;
  border-radius: var(--br-md);
  width: 323.15px;
  opacity: 0.24;
}
.application-development-child1 {
position: absolute;
top: 660.71px;
left: 1002.26px;
border-radius: var(--br-md);
border: 1px solid var(--text);
box-sizing: border-box;
width: 323.15px;
height: 43.55px;
opacity: 0.24;
}
.application-development-child1,
.application-development-child2,
.application-development-child3,
.rectangle-icon {
  position: absolute;
  left: 1002.26px;
  border-radius: var(--br-md);
  width: 323.15px;
  opacity: 0.24;
}
.application-development-child2 {
position: absolute;
top: 835.28px;
left: 1002.26px;
border-radius: var(--br-md);
border: 1px solid var(--text);
box-sizing: border-box;
width: 323.15px;
height: 106.19px;
opacity: 0.24;
}
.application-development-child3,
.rectangle-icon {
position: absolute;
top: 718.85px;
left: 1002.26px;
border-radius: var(--br-md);
width: 323.15px;
height: 43.55px;
opacity: 0.24;
}
.application-development-child3 {
position: absolute;
top: 776.99px;
left: 1002.26px;
border-radius: var(--br-md);
border: 1px solid var(--text);
box-sizing: border-box;
width: 323.15px;
height: 43.55px;
opacity: 0.24;
}
.email,
.name {
position: absolute;
top: 611.84px;
left: 1026.41px;
font-size: var(--font-size-xs);
line-height: 163%;
display: inline-block;
width: 46.75px;
height: 25.01px;
}
.name {
  position: absolute;
  top: 611.84px;
  left: 1026.41px;
  font-size: var(--font-size-xs);
  line-height: 163%;
  width: 46.75px;
}
.email {
position: absolute;
top: 669.98px;
left: 1026.41px;
font-size: var(--font-size-xs);
line-height: 163%;
display: inline-block;
width: 43.49px;
height: 25.01px;
}
.add-comment-optional,
.company,
.company-size,
.email {
  position: absolute;
  left: 1026.41px;
  font-size: var(--font-size-xs);
  line-height: 163%;
}
.company {
position: absolute;
top: 728.12px;
left: 1026.41px;
font-size: var(--font-size-xs);
line-height: 163%;
display: inline-block;
width: 73.93px;
height: 25.01px;
}
.add-comment-optional,
.company-size {
position: absolute;
top: 786.26px;
left: 1026.41px;
font-size: var(--font-size-xs);
line-height: 163%;
}
.add-comment-optional {
position: absolute;
top: 845.77px;
left: 1025.55px;
font-size: var(--font-size-xs);
line-height: 163%;
}
.polygon-icon {
position: absolute;
top: 795.7px;
left: 1294.46px;
width: 10.34px;
height: 6.56px;
}
.application-development-child4 {
position: absolute;
top: 961.7px;
left: 1001.36px;
border-radius: var(--br-md);
background-color: var(--primary-green);
width: 324.05px;
height: 52.81px;
}
.locofy-submit {
position: absolute;
top: 970.75px;
left: 1100px;
font-size: var(--font-size-lg);
line-height: 163%;
font-weight: 500;
color: var(--color-white);
}
.our-digitalization-service-container {
position: absolute;
top: 565.57px;
left: 79.74px;
line-height: 163%;
color: var(--color-black);
display: inline-block;
width: 805.45px;
height: 548.8px;
}
.application-development-child5 {
position: absolute;
top: 1151.77px;
left: 0px;
background-color: var(--color-gray-100);
width: 1440px;
height: 1009.97px;
}
.the-stages-and {
position: absolute;
top: 1273.15px;
left: 537px;
font-weight: 500;
}
.application-development-proces {
position: absolute;
top: 1225.15px;
left: 435px;
font-size: 32px;
color: var(--headings);
}
.group-child1 {
position: absolute;
top: -1px;
left: 580.83px;
border-right: 2px dashed var(--color-black);
box-sizing: border-box;
width: 2px;
height: 651.6px;
}
.group-child2 {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.stage-2 {
position: relative;
line-height: 163%;
}
.frame-child {
position: relative;
width: 13.41px;
height: 13.41px;
flex-shrink: 0;
}
.stage-2-parent {
position: absolute;
top: 7.71px;
left: 24.79px;
display: flex;
flex-direction: row;
align-items: flex-start;
align-items: center;
justify-content: flex-start;
gap: var(--gap-xs);
}
.group-div {
position: absolute;
top: 17.79px;
left: 0px;
width: 138.25px;
height: 44.42px;
}
.innovation-and-development {
position: relative;
font-weight: 600;
}
.dui-massa-sapien {
position: relative;
font-size: var(--paragraph-size);
letter-spacing: 0.02em;
line-height: 150%;
color: var(--color-gray-600);
display: inline-block;
width: 407px;
height: 82px;
flex-shrink: 0;
}
.innovation-and-development-parent {
position: absolute;
top: 18.85px;
left: 121.26px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-4xs);
}
.group-5451233-icon {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.frame-group {
position: absolute;
top: 0px;
left: 175.66px;
width: 528.26px;
height: 140.85px;
font-size: var(--font-size-3xl);
color: var(--color-black);
}
.group-container {
position: absolute;
top: 193.25px;
left: 466.84px;
width: 703.92px;
height: 140.85px;
font-size: var(--font-size-lg);
color: var(--color-white);
}
.group-56706-icon {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.idea-validation-parent {
position: absolute;
top: 23.34px;
left: 0px;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: flex-start;
gap: var(--gap-4xs);
}
.ellipse-icon {
position: absolute;
top: 15.51px;
left: 17.11px;
width: 13.41px;
height: 13.41px;
}
.stage-1 {
position: absolute;
top: 7.71px;
left: 24.79px;
}
.rectangle-parent1 {
position: absolute;
top: 17.79px;
left: 0px;
width: 138.25px;
height: 44.42px;
}
.group-56706-parent {
position: absolute;
top: 5.76px;
left: 0px;
width: 696.26px;
height: 145.34px;
text-align: right;
}
.group-icon2 {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.group-child5 {
position: absolute;
top: 15.51px;
left: 17.11px;
width: 13.41px;
height: 13.41px;
}
.rectangle-parent2 {
position: absolute;
top: 17.79px;
left: 0px;
width: 138.25px;
height: 44.42px;
}
.group-parent1 {
position: absolute;
top: 376.26px;
left: 0px;
width: 694.09px;
height: 145.34px;
text-align: right;
}
.deployment-parent {
position: absolute;
top: 6.1px;
left: 299.09px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: var(--gap-4xs);
}
.rectangle-parent3 {
position: absolute;
top: 0px;
left: 0px;
border-radius: var(--br-md);
background-color: var(--headings);
width: 181.66px;
height: 63px;
}
.frame-container {
position: absolute;
top: 582.5px;
left: 464.67px;
width: 706.09px;
height: 128.1px;
}
.line-parent {
position: absolute;
top: 1360.14px;
left: 140.5px;
width: 1170.76px;
height: 710.6px;
font-size: var(--font-size-3xl);
color: var(--color-black);
}
.group-56707-icon {
position: absolute;
top: 1924.53px;
left: 786.84px;
width: 74px;
height: 80px;
overflow: hidden;
}
.custom-application-development {
position: absolute;
top: 502.34px;
left: 79.74px;
font-size: var(--font-size-3xl);
line-height: 163%;
display: inline-block;
color: var(--color-black);
width: 682.14px;
}
.home-services {
position: absolute;
top: 438.93px;
left: 87.67px;
font-family: var(--font-poppins);
color: var(--color-darkgray-100);
}
.application-development {
position: relative;
background-color: var(--color-white);
width: 100%;
height: 3887px;
overflow: hidden;
text-align: left;
font-size: var(--paragraph-size);
color: var(--text);
font-family: var(--paragraph);
}
