.latest-blog-posts {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 120%;
  text-transform: capitalize;
}
.latest-blog-posts-wrapper {
  position: absolute;
  top: 511.25px;
  left: 515px;
  width: 410px;
  height: 54px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.featured-video,
.shortcut-links {
  position: absolute;
  left: 963px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 160%;
  color: var(--color-gray-400);
}
.shortcut-links {
  top: 618px;
  font-weight: 600;
}
.featured-video {
  top: 1137px;
  font-family: var(--font-inter);
}
.blogs-child,
.unsplash8hgmg03spf4-icon {
  position: absolute;
  border-radius: var(--br-lg);
  height: 297px;
}
.blogs-child {
  top: 618px;
  left: 92px;
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  width: 821px;
}
.unsplash8hgmg03spf4-icon {
  top: 1186px;
  left: 962px;
  width: 385px;
  object-fit: cover;
}
.frame-icon3 {
  position: absolute;
  top: 1290px;
  left: 1110px;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
.unsplashvbaehcrvxz0-icon6,
.unsplashxtud5six464-icon {
  position: absolute;
  top: 618px;
  left: 92px;
  border-radius: var(--br-lg);
  width: 334px;
  height: 297px;
  object-fit: cover;
}
.unsplashxtud5six464-icon {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.faucibus-interdum-cras,
.jan-2023,
.technology {
  position: absolute;
  left: 112px;
  letter-spacing: 0.02em;
  line-height: 130%;
}
.faucibus-interdum-cras {
  top: 15px;
  font-size: var(--paragraph-size);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 273px;
}
.jan-2023,
.technology {
  top: 74px;
}
.technology {
  left: 293px;
  text-align: right;
}
.unsplashpo8woh4ybd8-parent,
.unsplashsjspo9hqf7s-parent,
.unsplashw6onivdcfn0-parent,
.unsplashxtud5six464-parent {
  position: absolute;
  top: 667px;
  left: 963px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 385px;
  height: 100px;
  overflow: hidden;
}
.unsplashpo8woh4ybd8-parent,
.unsplashsjspo9hqf7s-parent,
.unsplashw6onivdcfn0-parent {
  top: 782px;
  border-radius: var(--br-md);
}
.unsplashsjspo9hqf7s-parent,
.unsplashw6onivdcfn0-parent {
  top: 897px;
  border-radius: var(--br-lg);
}
.unsplashw6onivdcfn0-parent {
  top: 1012px;
}
.unsplashxjxwbfso2f0-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 385px;
  height: 200px;
  object-fit: cover;
}
.january-2023,
.porttitor-pharetra-consectetu,
.technology4 {
  position: absolute;
  left: 20px;
  letter-spacing: 0.02em;
  line-height: 130%;
}
.porttitor-pharetra-consectetu {
  top: 210px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 310px;
}
.january-2023,
.technology4 {
  top: 274px;
}
.technology4 {
  left: 293px;
  text-align: right;
}
.unsplashxjxwbfso2f0-parent {
  position: absolute;
  top: 945px;
  left: 92px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  width: 385px;
  height: 300px;
  overflow: hidden;
}
.january-20231,
.technology5 {
  position: absolute;
  top: 876px;
  left: 471px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 130%;
}
.technology5 {
  left: 778px;
  text-align: right;
}
.dui-massa-sapien10,
.porttitor-pharetra-consectetu1 {
  position: absolute;
  left: 471px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 407px;
}
.porttitor-pharetra-consectetu1 {
  top: 638px;
  font-size: var(--font-size-4xl);
  line-height: 130%;
  font-weight: 600;
  color: var(--color-black);
}
.dui-massa-sapien10 {
  top: 765px;
  font-size: var(--paragraph-size);
  line-height: 150%;
  color: var(--color-gray-600);
  height: 82px;
}
.unsplash2ejcsulrwc8-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg) var(--br-lg) 0 0;
  width: 385px;
  height: 200px;
  object-fit: cover;
}
.unsplash2ejcsulrwc8-parent,
.unsplashim7lzjxelhg-parent {
  position: absolute;
  top: 945px;
  left: 528px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  width: 385px;
  height: 300px;
}
.unsplashim7lzjxelhg-parent {
  top: 1275px;
  left: 92px;
}
.unsplashvee00hx5d0q-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 385px;
  height: 202px;
  object-fit: cover;
}
.unsplash6lct2krpvni-parent,
.unsplashourqhrte2im-parent,
.unsplashvee00hx5d0q-parent {
  position: absolute;
  top: 1275px;
  left: 528px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  width: 385px;
  height: 300px;
  overflow: hidden;
}
.unsplash6lct2krpvni-parent,
.unsplashourqhrte2im-parent {
  top: 1605px;
  left: 92px;
}
.unsplashourqhrte2im-parent {
  left: 528px;
}
.contact-us9 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
}
.line3 {
  position: relative;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 58px;
  height: 3px;
  flex-shrink: 0;
}
.title6 {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.there-are-many3 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.01em;
  line-height: 180%;
  font-family: var(--font-inter);
  display: inline-block;
  width: 633px;
}
.content6 {
  position: absolute;
  top: 223px;
  left: 403.5px;
  width: 633px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-6xl);
}
.cogai-logotrans-1-1-icon6 {
  position: absolute;
  top: 38px;
  left: 173px;
  width: 92.55px;
  height: 70.63px;
  object-fit: cover;
}
.home5 {
  color: var(--headings);
}
.about5,
.home5 {
  position: relative;
  font-weight: 500;
}
.home-parent2 {
  position: absolute;
  top: 61.32px;
  left: 521.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  color: var(--color);
  font-family: var(--font-poppins);
}
.group-child36 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--headings);
  width: 181.66px;
  height: 63px;
}
.get-a-quote5 {
  position: absolute;
  top: 18.5px;
  left: 34.33px;
  line-height: 163%;
  font-weight: 500;
}
.rectangle-parent20 {
  position: absolute;
  top: 41.82px;
  left: 1198.33px;
  width: 181.66px;
  height: 63px;
}
.background3,
.banner9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 424.64px;
}
.background3 {
  background-color: var(--primary-green);
  opacity: 0.85;
}
.content7,
.title7 {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content7 {
  position: absolute;
  top: 223px;
  left: 403.5px;
  width: 633px;
  text-align: center;
  font-size: var(--font-size-6xl);
}
.cogai-logotrans-1-1-icon7 {
  position: absolute;
  top: 38px;
  left: 123px;
  width: 92.55px;
  height: 70.63px;
  object-fit: cover;
}
.resources6 {
  position: relative;
  font-weight: 500;
  color: var(--color-white);
}
.home-parent3 {
  position: absolute;
  top: 61.32px;
  left: 471.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  color: var(--color);
  font-family: var(--font-poppins);
}
.rectangle-parent21 {
  position: absolute;
  top: 41.82px;
  left: 1148.33px;
  width: 181.66px;
  height: 63px;
}
.banner10 {
  left: 0;
  height: 424.64px;
  background-image: url(/public/banner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.banner10,
.banner8,
.group-child38 {
  position: absolute;
  top: 0;
  width: 1440px;
}
.banner8 {
  left: 0.5px;
  height: 424.64px;
  font-size: var(--paragraph-size);
  color: var(--color-white);
}
.group-child38 {
  left: 0;
  background-color: var(--color-darkslategray-200);
  height: 452.25px;
}
.copyright-20223 {
  position: absolute;
  top: 418.25px;
  left: 616px;
  font-size: var(--font-size-3xs);
  line-height: 148.52%;
}
.other-links3,
.terms-condition3 {
  position: absolute;
  left: 1171px;
  line-height: 148.52%;
}
.other-links3 {
  top: 80.25px;
  font-size: var(--font-size-3xl);
  font-family: var(--paragraph);
  color: var(--color-whitesmoke);
}
.terms-condition3 {
  top: 156.25px;
}
.contact-us10,
.privacy-policy3,
.report-abuse3,
.serives3 {
  position: absolute;
  top: 190.25px;
  left: 1171px;
  line-height: 148.52%;
}
.contact-us10,
.report-abuse3,
.serives3 {
  top: 224.25px;
}
.contact-us10,
.serives3 {
  top: 258.25px;
}
.serives3 {
  top: 80.25px;
  left: 759px;
  font-size: var(--font-size-3xl);
  font-family: var(--paragraph);
  color: var(--color-whitesmoke);
}
.application-development5,
.human-to-machine-communication6 {
  position: absolute;
  top: 156.25px;
  left: 759px;
  line-height: 148.52%;
}
.human-to-machine-communication6 {
  top: 190.25px;
}
.machine-to-machine-communicati6,
.video-analytics4 {
  position: absolute;
  top: 224.25px;
  left: 759px;
  line-height: 148.52%;
}
.video-analytics4 {
  top: 258.25px;
}
.div6 {
  position: absolute;
  top: 80.25px;
  left: 121px;
  width: 182px;
  height: 36.1px;
}
.frame-icon4,
.group-child39 {
  position: absolute;
  top: 309.73px;
  left: 134.95px;
  width: 178.05px;
  height: 33.26px;
}
.frame-icon4 {
  top: 73.5px;
  width: 99px;
  height: 76px;
  overflow: hidden;
}
.we-specialize-in3 {
  position: absolute;
  top: 183.87px;
  left: 134.95px;
  font-size: var(--font-size-xs);
  line-height: 163%;
  font-family: var(--paragraph);
  display: inline-block;
  width: 251.05px;
}
.inputfilled {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 353.75px;
  left: 1134.5px;
}
.rectangle-parent22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 452.25px;
}
.contact-us11,
.vector-icon9 {
  position: relative;
}
.vector-icon9 {
  width: 15px;
  height: 19px;
  flex-shrink: 0;
}
.vector-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.vector-icon10 {
  position: relative;
  width: 18px;
  height: 14px;
  flex-shrink: 0;
}
.vector-parent8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.group-icon5 {
  position: relative;
  width: 11.63px;
  height: 17.44px;
  flex-shrink: 0;
}
.cogai-ltd-63 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.england-sk7-5er3 {
  margin: 0;
}
.group-parent15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.vector-icon11 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.contact-us-parent1,
.frame-parent3,
.vector-parent9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.contact-us-parent1,
.frame-parent3 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
  font-family: var(--font-inter);
}
.contact-us-parent1 {
  position: absolute;
  top: 90.25px;
  left: 454px;
  gap: var(--gap-3xl);
  font-size: var(--font-size-2xl);
  color: var(--color-whitesmoke);
  font-family: var(--paragraph);
}
.group-parent14,
.home-resources {
  position: absolute;
  font-size: var(--paragraph-size);
  font-family: var(--font-poppins);
  color: var(--color-darkgray-100);
}
.group-parent14 {
  top: 1969px;
  left: 0.5px;
  width: 1440px;
  height: 452.25px;
}
.home-resources {
  top: 438.93px;
  left: 92px;
}
.blogs {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2421px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-500);
  font-family: var(--paragraph);
}
