@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.contact-us6 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
}
.line2 {
  position: relative;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 58px;
  height: 3px;
  flex-shrink: 0;
}
.title4 {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.there-are-many2 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.01em;
  line-height: 180%;
  font-family: var(--font-inter);
  display: inline-block;
  width: 633px;
}
.content4 {
  position: absolute;
  top: 223px;
  left: 403.5px;
  width: 633px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-6xl);
}
.cogai-logotrans-1-1-icon4 {
  position: absolute;
  top: 38px;
  left: 173px;
  width: 92.55px;
  height: 70.63px;
  object-fit: cover;
}
.home3 {
  color: var(--headings);
}
.about3,
.home3 {
  position: relative;
  font-weight: 500;
}
.home-container {
  position: absolute;
  top: 61.32px;
  left: 521.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  color: var(--color);
  font-family: var(--font-poppins);
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--headings);
  width: 181.66px;
  height: 63px;
}
.get-a-quote3 {
  position: absolute;
  top: 18.5px;
  left: 34.33px;
  line-height: 163%;
  font-weight: 500;
}
.rectangle-parent10 {
  position: absolute;
  top: 41.82px;
  left: 1198.33px;
  width: 181.66px;
  height: 63px;
}
.background2,
.banner6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 424.64px;
}
.background2 {
  background-color: var(--primary-green);
  opacity: 0.85;
}
.content5,
.title5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title5 {
  width: 200px;
  padding: 0 0 0 5px;
  box-sizing: border-box;
}
.content5 {
  position: absolute;
  top: 223px;
  left: 403.5px;
  width: 633px;
}
.cogai-logotrans-1-1-icon5 {
  position: absolute;
  top: 38px;
  left: 123px;
  width: 92.55px;
  height: 70.63px;
  object-fit: cover;
}
.industries6 {
  position: relative;
  font-weight: 500;
  color: var(--color-white);
}
.get-a-quote4,
.home-parent1 {
  position: absolute;
  font-size: var(--paragraph-size);
  text-align: left;
}
.home-parent1 {
  top: 61.32px;
  left: 471.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  color: var(--color);
  font-family: var(--font-poppins);
}
.get-a-quote4 {
  top: 18.5px;
  left: 34.33px;
  line-height: 163%;
  font-weight: 500;
  font-family: var(--paragraph);
  color: var(--color-white);
}
.rectangle-parent11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 41.82px;
  left: 1148.33px;
  width: 181.66px;
  height: 63px;
}
.rectangle-parent11:hover {
  animation: 3s ease 1s infinite normal none bounce-top;
  opacity: 1;
}
.banner7 {
  left: 0;
  height: 424.64px;
  background-image: url(/public/banner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-6xl);
}
.banner5,
.banner7,
.group-child18 {
  position: absolute;
  top: 0;
  width: 1440px;
}
.banner5 {
  left: 0.5px;
  height: 424.64px;
  color: var(--color-white);
}
.group-child18 {
  left: 0;
  background-color: var(--color-darkslategray-200);
  height: 452.25px;
}
.copyright-20222 {
  position: absolute;
  top: 418.25px;
  left: 616px;
  font-size: var(--font-size-3xs);
  line-height: 148.52%;
}
.other-links2,
.terms-condition2 {
  position: absolute;
  left: 1171px;
  line-height: 148.52%;
}
.other-links2 {
  top: 80.25px;
  font-size: var(--font-size-3xl);
  font-family: var(--paragraph);
  color: var(--color-whitesmoke);
}
.terms-condition2 {
  top: 156.25px;
}
.contact-us7,
.privacy-policy2,
.report-abuse2,
.serives2 {
  position: absolute;
  top: 190.25px;
  left: 1171px;
  line-height: 148.52%;
}
.contact-us7,
.report-abuse2,
.serives2 {
  top: 224.25px;
}
.contact-us7,
.serives2 {
  top: 258.25px;
}
.serives2 {
  top: 80.25px;
  left: 759px;
  font-size: var(--font-size-3xl);
  font-family: var(--paragraph);
  color: var(--color-whitesmoke);
}
.application-development4,
.human-to-machine-communication5 {
  position: absolute;
  top: 156.25px;
  left: 759px;
  line-height: 148.52%;
}
.human-to-machine-communication5 {
  top: 190.25px;
}
.machine-to-machine-communicati5,
.video-analytics3 {
  position: absolute;
  top: 224.25px;
  left: 759px;
  line-height: 148.52%;
}
.video-analytics3 {
  top: 258.25px;
}
.div4 {
  position: absolute;
  top: 80.25px;
  left: 121px;
  width: 182px;
  height: 36.1px;
}
.frame-icon2,
.group-child19 {
  position: absolute;
  top: 309.73px;
  left: 134.95px;
  width: 178.05px;
  height: 33.26px;
}
.frame-icon2 {
  top: 73.5px;
  width: 99px;
  height: 76px;
  overflow: hidden;
}
.we-specialize-in2 {
  position: absolute;
  top: 183.87px;
  left: 134.95px;
  font-size: var(--font-size-xs);
  line-height: 163%;
  font-family: var(--paragraph);
  display: inline-block;
  width: 251.05px;
}
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 452.25px;
}
.contact-us8,
.vector-icon6 {
  position: relative;
}
.vector-icon6 {
  width: 15px;
  height: 19px;
  flex-shrink: 0;
}
.vector-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.vector-icon7 {
  position: relative;
  width: 18px;
  height: 14px;
  flex-shrink: 0;
}
.vector-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.group-icon4 {
  position: relative;
  width: 11.63px;
  height: 17.44px;
  flex-shrink: 0;
}
.cogai-ltd-62 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.england-sk7-5er2 {
  margin: 0;
}
.group-parent12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.vector-icon8 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.contact-us-container,
.frame-parent2,
.vector-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.contact-us-container,
.frame-parent2 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
  font-family: var(--font-inter);
}
.contact-us-container {
  position: absolute;
  top: 90.25px;
  left: 454px;
  gap: var(--gap-3xl);
  font-size: var(--font-size-2xl);
  color: var(--color-whitesmoke);
  font-family: var(--paragraph);
}
.group-child20,
.group-child21,
.group-parent11 {
  position: absolute;
  top: 524.54px;
  left: 0;
  width: 1440px;
  height: 452.25px;
}
.group-child20,
.group-child21 {
  top: 0;
  background-color: var(--color-gray-100);
  height: 524.54px;
}
.group-child21 {
  top: 363.42px;
  left: 533.14px;
  border-radius: var(--br-md);
  background-color: var(--primary-green);
  width: 373.63px;
  height: 52.81px;
}
.submit {
  position: absolute;
  top: 375.33px;
  left: 685.96px;
  font-size: var(--font-size-lg);
  line-height: 163%;
  font-weight: 500;
  color: var(--color-white);
}
.group-child22 {
  top: 220.85px;
  left: 113.82px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.group-child22,
.group-child23,
.group-child24,
.group-child25,
.group-child26,
.group-child27 {
  position: absolute;
  border-radius: var(--br-xs);
  width: 373.63px;
  height: 43.55px;
  opacity: 0.24;
}
.group-child23 {
  top: 220.85px;
  left: 533.19px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.group-child24,
.group-child25,
.group-child26,
.group-child27 {
  left: 952.55px;
}
.group-child24 {
  top: 279.72px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.group-child25,
.group-child26,
.group-child27 {
  top: 220.85px;
}
.group-child26,
.group-child27 {
  top: 279.72px;
  left: 113.82px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.group-child27 {
  left: 533.19px;
}
.company1,
.email1,
.name1 {
  position: absolute;
  top: 230.12px;
  left: 132.48px;
  line-height: 163%;
  display: inline-block;
  width: 46.75px;
  height: 25.01px;
}
.company1,
.email1 {
  left: 551.85px;
  width: 43.49px;
}
.company1 {
  left: 971.21px;
  width: 73.93px;
}
.choose-services,
.company-size1 {
  position: absolute;
  top: 288.98px;
  left: 132.48px;
  line-height: 163%;
}
.choose-services {
  left: 552.03px;
  display: inline-block;
  width: 133.74px;
  height: 25.01px;
}
.add-comment-optional1 {
  position: absolute;
  top: 289.99px;
  left: 970.35px;
  line-height: 163%;
}
.feeling-curious,
.get-in-touch {
  position: absolute;
  line-height: 163%;
  text-align: center;
}
.feeling-curious {
  top: 50.83px;
  left: 608px;
  font-size: var(--font-size-4xl);
  font-weight: 600;
  color: var(--primary-green);
}
.get-in-touch {
  top: 100.83px;
  left: 546px;
  font-size: 46px;
  color: var(--headings);
}
.group-child28,
.group-child29 {
  position: absolute;
  top: 298.42px;
  left: 459.69px;
  width: 10.34px;
  height: 6.56px;
}
.group-child29 {
  top: 241.32px;
  left: 1295.55px;
}
.group-parent10,
.rectangle-parent13 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.rectangle-parent13 {
  top: 0;
  height: 524.54px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--paragraph);
}
.group-parent10 {
  top: 2944.22px;
  height: 976.78px;
  font-family: var(--font-poppins);
}
.we-serve-in {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 120%;
  text-transform: capitalize;
}
.we-serve-in-different-industri-wrapper {
  position: absolute;
  top: 493.49px;
  left: 342.5px;
  width: 756px;
  height: 54px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.smart-building {
  position: absolute;
  top: 83.67px;
  left: 110.59px;
  font-weight: 600;
}
.dui-massa-sapien4 {
  position: absolute;
  top: 125.06px;
  left: 45.84px;
  font-size: var(--paragraph-size);
  letter-spacing: 0.02em;
  line-height: 150%;
  color: var(--color-gray-600);
  display: inline-block;
  width: 318.48px;
}
.group-child30 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--headings);
  width: 149px;
  height: 50px;
}
.read-more4 {
  position: absolute;
  top: 11px;
  left: 29px;
  font-size: var(--paragraph-size);
  letter-spacing: 0.01em;
  line-height: 177.9%;
  font-family: var(--paragraph);
  color: var(--color-white);
  text-align: center;
}
.rectangle-parent14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 251.35px;
  left: 130.09px;
  width: 149px;
  height: 50px;
}
.rectangle-parent14:hover {
  animation: 3s ease 0s infinite normal none wobble-hor-bottom;
  opacity: 1;
}
.unsplashvbaehcrvxz0-group,
.unsplashvbaehcrvxz0-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 410.17px;
  height: 364.73px;
}
.unsplashvbaehcrvxz0-parent {
  width: 820.34px;
  font-size: var(--font-size-3xl);
}
.unsplashvbaehcrvxz0,
.unsplashvbaehcrvxz0-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 410.17px;
  height: 364.73px;
}
.unsplashvbaehcrvxz0-icon1 {
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  object-fit: cover;
}
.unsplashvbaehcrvxz0 {
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  background-color: var(--color-gray-100);
}
.smart-cities {
  position: absolute;
  top: 83.67px;
  left: 129.59px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
.dui-massa-sapien5 {
  position: absolute;
  top: 125.06px;
  left: 45.84px;
  letter-spacing: 0.02em;
  line-height: 150%;
  color: var(--color-gray-600);
  display: inline-block;
  width: 318.48px;
}
.group-child31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--headings);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 149px;
  height: 50px;
}
.group-child31:hover {
  background-color: #1f8165;
}
.read-more5 {
  position: absolute;
  top: 11px;
  left: 29px;
  letter-spacing: 0.01em;
  line-height: 177.9%;
}
.rectangle-parent15 {
  position: absolute;
  top: 251.06px;
  left: 131.59px;
  width: 149px;
  height: 50px;
  color: var(--color-white);
}
.unsplashvbaehcrvxz0-container,
.unsplashvbaehcrvxz0-parent1 {
  position: absolute;
  top: 0;
  left: 410.17px;
  width: 410.17px;
  height: 364.73px;
}
.unsplashvbaehcrvxz0-container {
  top: 381.64px;
  left: 0;
  width: 820.34px;
}
.smart-agriculture {
  position: absolute;
  top: 83.67px;
  left: 93.59px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
.rectangle-parent16 {
  position: absolute;
  top: 251.35px;
  left: 131.59px;
  width: 149px;
  height: 50px;
  color: var(--color-white);
}
.unsplashvbaehcrvxz0-parent2 {
  position: absolute;
  top: 1144.92px;
  left: 0;
  width: 820.34px;
  height: 364.73px;
}
.smart-energy {
  position: absolute;
  top: 83.67px;
  left: 119.59px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
.group-wrapper1,
.unsplashvbaehcrvxz0-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 820.34px;
  height: 364.73px;
}
.group-wrapper1 {
  top: 1908.2px;
}
.unsplashvbaehcrvxz0-icon4,
.unsplashvbaehcrvxz03 {
  position: absolute;
  top: 0;
  width: 410.17px;
  height: 364.73px;
}
.unsplashvbaehcrvxz0-icon4 {
  left: 410.17px;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  object-fit: cover;
}
.unsplashvbaehcrvxz03 {
  left: 0;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--color-gray-100);
}
.smart-constructions {
  position: absolute;
  top: 83.67px;
  left: 76.59px;
  font-weight: 600;
}
.rectangle-parent18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 251.35px;
  left: 130.59px;
  width: 149px;
  height: 50px;
}
.smart-factories,
.unsplashvbaehcrvxz0-parent6 {
  position: absolute;
  font-size: var(--font-size-3xl);
}
.unsplashvbaehcrvxz0-parent6 {
  top: 763.28px;
  left: 0;
  width: 820.34px;
  height: 364.73px;
}
.smart-factories {
  top: 83.67px;
  left: 106.59px;
  font-weight: 600;
}
.dui-massa-sapien9 {
  position: absolute;
  top: 125.06px;
  left: 45.85px;
  letter-spacing: 0.02em;
  line-height: 150%;
  color: var(--color-gray-600);
  display: inline-block;
  width: 318.48px;
}
.rectangle-parent19 {
  position: absolute;
  top: 250.64px;
  left: 130.59px;
  width: 149px;
  height: 50px;
  color: var(--color-white);
}
.group-parent13,
.unsplashvbaehcrvxz0-parent8 {
  position: absolute;
  top: 1526.56px;
  left: 0;
  width: 820.34px;
  height: 364.73px;
}
.group-parent13 {
  top: 586.5px;
  left: 310.33px;
  height: 2272.93px;
  text-align: center;
  color: var(--color-black);
}
.home-industries {
  position: absolute;
  top: 438.93px;
  left: 123.5px;
  font-family: var(--font-poppins);
}
.industries3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3921px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-darkgray-100);
  font-family: var(--paragraph);
}
