

.counter {
  position: absolute;
  top: 1375.92px;
  left: 121.5px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  width: 1197px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-39xl) var(--padding-48xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-27xl);
  color: var(--primary-green);
  font-family: var(--header);
}