.groupChild,
.ourMission {
  position: absolute;
  top: 0;
  left: 85.7px;
}
.groupChild {
  top: 25.55px;
  left: -1px;
  border-top: 2px solid #80c904;
  box-sizing: border-box;
  width: 74px;
  height: 2px;
}
.ourMissionParent {
  position: relative;
  width: 346.7px;
  height: 51px;
  flex-shrink: 0;
}
.ourMissionIs {
  position: relative;
  font-size: 16px;
  line-height: 157.4%;
  color: #797979;
  display: inline-block;
  width: 477.57px;
}
.groupParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
  text-align: left;
  font-size: 42px;
  color: #80c904;
  font-family: Montserrat;
}
