

.groupChild,
.ourMission {
  position: absolute;
  top: 0;
  left: 85.7px;
}
.groupChild {
  top: 25.55px;
  left: -1px;
  border-top: 2px solid var(--primary-green);
  box-sizing: border-box;
  width: 74px;
  height: 2px;
}
.ourMissionParent {
  position: relative;
  width: 346.7px;
  height: 51px;
  flex-shrink: 0;
}
.ourMissionIs {
  position: relative;
  font-size: var(--paragraph-size);
  line-height: 157.4%;
  color: var(--color-gray-300);
  display: inline-block;
  width: 477.57px;
}
.groupParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-20xl);
  text-align: left;
  font-size: var(--header-size);
  color: var(--primary-green);
  font-family: var(--header);
}