

.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1440px;
  height: 452.25px;
}
.copyright2022,
.otherLinks {
  position: absolute;
  top: 418.25px;
  left: 616px;
  font-size: var(--font-size-2xs);
  line-height: 148.52%;
}
.otherLinks {
  top: 80.25px;
  left: 1171px;
  font-size: var(--font-size-5xl);
  font-family: var(--header);
  color: var(--color-whitesmoke-200);
}
.contactUs,
.privacyPolicy,
.reportAbuse,
.termsCondition {
  position: absolute;
  top: 156.25px;
  left: 1171px;
  line-height: 148.52%;
}
.contactUs,
.privacyPolicy,
.reportAbuse {
  top: 190.25px;
}
.contactUs,
.reportAbuse {
  top: 224.25px;
}
.contactUs {
  top: 258.25px;
}
.applicationDevelopment,
.serives {
  position: absolute;
  left: 759px;
  line-height: 148.52%;
}
.serives {
  top: 80.25px;
  font-size: var(--font-size-5xl);
  font-family: var(--header);
  color: var(--color-whitesmoke-200);
}
.applicationDevelopment {
  top: 156.25px;
}
.humanToMachineCommunication,
.machineToMachineCommunicati,
.videoAnalytics {
  position: absolute;
  top: 190.25px;
  left: 759px;
  line-height: 148.52%;
}
.machineToMachineCommunicati,
.videoAnalytics {
  top: 224.25px;
}
.videoAnalytics {
  top: 258.25px;
}
.div {
  position: absolute;
  top: 80.25px;
  left: 121px;
  width: 182px;
  height: 36.1px;
}
.groupItem {
  top: 309.73px;
  width: 178.05px;
  height: 33.26px;
}
.frameIcon,
.groupItem,
.weSpecializeIn {
  position: absolute;
  left: 134.95px;
}
.frameIcon {
  top: 73.5px;
  width: 99px;
  height: 76px;
  overflow: hidden;
}
.weSpecializeIn {
  top: 183.87px;
  font-size: var(--caption-caption-2-medium-size);
  line-height: 163%;
  font-family: var(--header);
  display: inline-block;
  width: 251.05px;
}
.groupParent,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 452.25px;
}
.groupParent {
  top: 3026.75px;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}