

.hamburgerbtnChild {
  position: relative;
  background-color: var(--color-gray-100);
  width: 68px;
  height: 12px;
  flex-shrink: 0;
}
.hamburgerbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-800);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.cogaiLogotrans11Icon {
  position: relative;
  width: 92.55px;
  height: 70.63px;
  flex-shrink: 0;
  object-fit: cover;
}
.logo {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about,
.home {
  position: relative;
  display: inline-block;
  width: 61px;
  flex-shrink: 0;
}
.about {
  width: 63px;
}
.services {
  width: 88px;
}
.industries,
.resources,
.services {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.industries {
  line-height: 160.5%;
  width: 104px;
}
.resources {
  width: 107px;
}
.navBar {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-41xl);
}
.getAQuote1 {
  position: relative;
  font-size: var(--paragraph-size);
  line-height: 163%;
  font-weight: 500;
  font-family: var(--header);
  color: var(--color-white);
  text-align: left;
}
.getAQuote,
.logoParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.getAQuote {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-15xl);
  background-color: var(--headings1);
  flex: 1;
  border-radius: var(--br-7xs);
  align-items: center;
  justify-content: center;
}
.getAQuote:hover {
  background-color: var(--color-darkcyan);
}
.logoParent {
  height: 111px;
  flex-shrink: 0;
  padding: var(--padding-21xl) var(--padding-38xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-381xl);
}
.contactUs {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
}
.pagetitle {
  align-items: center;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-greenyellow);
  font-family: var(--header);
}
.banner,
.hero,
.pagetitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.banner {
  flex: 1;
  align-items: center;
  background-image: url(/public/banner1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hero {
  height: 424px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 960px) {
  .hamburgerbtn {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .hamburgerbtn {
    display: flex;
  }
}