.weSpecializeIn {
  position: absolute;
  top: 183.87px;
  left: 134.95px;
  font-size: 14px;
  line-height: 163%;
  font-family: Montserrat;
  color: #a6a6a6;
  text-align: left;
  display: inline-block;
  width: 251.05px;
}
